{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
	
	<link href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script> 
	
	<title>{% block title %}User test{% endblock %}</title>
</head>

<body>

    <div id="header">
        {% block header %}
        {% endblock %}
        &nbsp;                    
    </div>

	<div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span12">

	<h1>Anonymoose</h1>
	
	<span style="float:right">
		{% if not hide_toolbar %}
			<a href="/moose/">Home</a>
			{% if user.is_authenticated %}
				| {% trans "Logged in" %}: {{ user.username }} 
			{% endif %}
		{% endif %}
	</span>
	
	<hr>
	
	<span style="float:right">
		{% if not hide_toolbar %}
			{% if user.is_authenticated %}
				(<a href="{% url auth_logout %}?next=/">{% trans "Log out" %}</a> | 
				<a href="{% url auth_password_change %}">{% trans "Change password" %}</a>)

			{% endif %}
		{% endif %}
	</span>

    <div id="contentold">
        {% block content %}{% endblock %}
    </div>

	<hr>

    {% if messages %}
    <div>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
        
	</div><!--end span12-->
	
    <div class="span1">&nbsp;</div>

	</div><!--close row-->

    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>
</body>

</html>
