{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="span6">
	<h2 class="col">Open Questions</h2>

		{% for q in user.question_set.all %}
		<div class="row" style="margin-bottom: 1em">
			<div class="span4">
				<a href="/moose/question/{{q.pk}}">{{q.question}}</a>
				<div class="metadata">asked on: {{q.date}}</div>
			</div>
			<div class="span2" style="text-align: right;">
				no replies
			</div>
		</div>
		{% endfor %}

</div>


<div class="span6">

	<h2 class="col">Ask a Question</h2>
	
	<br/>
	
	<form class="form-horizontal" id="addqform" action="/moose/question/" method='post'>
	{% csrf_token %}
	<fieldset>
	<label for="question">Question:</label>
	<div class="control"><input type="text" name="question"/></div>
	
	<br/>
	
	<label for="text">Extra description or clarification:</label>
	<div><textarea name="text" rows="4" cols="50"/></textarea></div>
	
	<br/>
	
	<label for="shortname">URL to link to:</label>
	<div>fd.bk/<input style="width:200px" type="text" name="shortname" size="20"/></div>
	
	<br/>
	
	<input type="submit" class="btn" value="Preview Question"/>
	</fieldset>
	</form>

</div>
<style>
#addqform input, #addqform textarea { width: 98%; font-size: 15pt;}
</style>

</div>

{% endblock %}