{% extends 'base.html' %}

{% block content %}


{% include 'snippets/question.html' %}



<div>
Instructions to anonymous responder here.
<br/>
Keep it polite, constructive, etc.
<br/>
Explanation of process?
</div>


<form class="form-horizontal" action="/moose/feedback/{{q.pk}}/" method="post">
{% csrf_token %}
<p>Dear {{ q.user.email }},</p>
<div><textarea rows=10 name="f-text">Feedback goes here!</textarea></div>
<p>Best regards, {{ sform.email }}</p>
<p><input class="btn" type="submit" value="Preview Feedback"/></p>

</form>
<style>
form textarea { width: 98%; font-size: 15pt;}
</style>

{{ form.errors }}



{% endblock %}
