{% extends 'base.html' %}

{% block content %}


<br/>
<div class="email">
{{ q.user.email }}
</div>

<div class="bigq">
	{{ q.question }}
</div>
<div class="smallq">
	{{ q.text }}
</div>


<br/><br/>
Instructions to anonymous responder here.
<br/>
Keep it polite, constructive, etc.
<br/>
Explanation of process?
<br/><br/>


<form action="/moose/feedback/{{q.pk}}/" method="post">
{% csrf_token %}
<p>Dear {{ q.user.email }},</p>
<p>In response to your question, <span class='question'>{{ q.question }}</span></p>
<p><textarea rows=10 cols=100 name="f-text">Feedback goes here!</textarea></p>
<p>Best regards, {{ sform.email }}</p>
<p><input type="submit" value="Preview Feedback"/></p>

</form>


{{ form.errors }}



{% endblock %}
