{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<script type="text/javascript">

function register()
{
	//replace signin / register buttons with sign up fields
	$signup = '<form method="post" name="signup" action="{% url registration_register %}">'
	+ "{% csrf_token %}"
	+ '<p><label for="id_email">Email:</label> <input id="id_email" type="text" name="email" maxlength="70" /></p>'
	+ '<p><label for="id_password1">Password:</label> <input type="password" name="password1" id="id_password1" /></p>'
	+ '<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" id="id_password2" /></p>'
	+ '<p><label for="id_fullname">Name:</label> <input type="text" name="fullname" id="id_fullname" /></p>'
	+ '<input type="submit" name="signup" value="Register"/>'
	+ '</form>';
	
	$('span#formspan').empty().html($signup);	
}

</script>

<div class="row">

<div class="span7">
<h2 class="col">1. Pose a question</h2>
<p class="inst">
	one-off: "What do you think of this talk?",
	<br/>
	or ongoing: "How is my hair?"
</p>
<br/>
<h2 class="col">2. Give out the URL</h2>
	<p class="inst">
	image: hello everyone visit this
	</p>
<br/>
<h2 class="col">3. Receive anonymous feedback</h2>
	<p class="inst">
	profit!
	</p>
<br/>
</div>

<div class="span1">&nbsp;</div>

<div class="span4">
<h2>Sign in</h2>
<br/>

<span id="formspan">

<form method="post" name="signup" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}

<p><label for="id_email">Email:</label> <input id="id_email" type="text" name="email" maxlength="70" /></p>

<p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>

<input type="submit" value="{% trans 'Log in' %}" /> <a href="{% url auth_password_reset %}">{% trans "Forgot password?" %}</a>
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{%endif%}" />
  
</form>

<p>{% trans "Not a member" %}? <a href="#" onClick="register()">Register</a>!</p>

</span>

</div>

</div><!--end row-->

{% endblock %}