{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">

function register()
{
	//replace signin / register buttons with sign up fields
	$signup = 'Confirm Password<br/>'
		+ '<input type="password" size="30" name="pwd2"/>'
		+ '<br/><br/>'
		+ 'Name<br/>'
		+ '<input type="text" size="30" name="fullname"/>'
		+ '<br/><br/>'
		+ '<input type="button" name="signup" value="Sign Up"/>';
	
	$('span#signin').empty().html($signup);	
}

</script>

<div id="ileft">
<h2 class="col">1. Pose a question</h2>
<p class="inst">
	one-off: "What do you think of this talk?",
	<br/>
	or ongoing: "How is my hair?"
</p>
<br/>
<h2 class="col">2. Give out the URL</h2>
	<p class="inst">
	image: hello everyone visit this
	</p>
<br/>
<h2 class="col">3. Receive anonymous feedback</h2>
	<p class="inst">
	profit!
	</p>
<br/>
</div>

<div id="imiddle">
	&nbsp;
</div>

<div id="iright">
<h2>Sign in</h2>
<br/>

<form name="signup">

E-mail<br/>
<input type="text" size="30" name="email"/>
<br/><br/>
Password<br/>
<input type="password" size="30" name="pwd1"/>
<br/><br/>

<span id="signin">
<input type="button" name="signin" value="Sign In"> <a href="">(forgot password?)</a>
<br/><br/>
Not a member? <a href="#" onClick="register()">Register</a>
</span>

</form>

</div>

<div style="clear:both;"></div>

{% endblock %}